


:root{
    /* theme colors */
    --text-gray: #3F4954;
    --bg-color: #0f0f0f;

    /*  theme font-family */
    --lato: 'Lato', sans-serif;
   

    /* gradient colors */
    --sky :  linear-gradient(to right,   #772f83 30%, #009aa9 100%);
    --sky-2 :  linear-gradient(to right top,   #772f83 30%, #009aa9 100%);

    --sky-footer: linear-gradient(to bottom, #00c9b7, #009aa9, #006c8d );
}

/* ------------------ navbar ----------------- */

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.text-white{
    color: white;
    ;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 0 2rem;
    background: var(--sky);
    position: relative;
    justify-content: space-between;
    height: 0rem;
    min-height: 10vh;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26, -0.01, 0,  1.01);
    box-shadow: 0 5px 5px #efefef;

}

nav .nav-brand a img{
    position: absolute;
    display: block;
    width: 15rem;
    bottom: 0;
    left: 0;
    
}

nav .nav-items{
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link{
    padding: 1.6rem 2rem;
    font-family: var(--lato);
    text-transform: uppercase;
    letter-spacing: .8px;
    font-weight: 400;
    font-size: 1.1rem;

}



nav .nav-items .nav-link:hover a{
    color: white;
}

nav .social {
    padding: 1.3rem 0;
}

nav .social img{
    padding: 0 1rem;
}

nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
}

.collapse{
    height: 100vh;
}

/* creating own toggle icons  */
.icon, .icon::before, .icon::after{
    position: relative;
    width: 10px;
    border: 2px solid white;
    border-radius: 3rem;
    display: inline-block;
    transition: all .8s ease;
    transition-property: width, left;
}

.icon::before{
    content: " ";
    position: absolute;
    top: 5px;
    width: 20px;
    left: -12px;
}

.icon::after{
    content: " ";
    position: absolute;
    top: 12px;
    left: -2px;
}

.toggle-click, .toggle-click::before, .toggle-click::after{
    width: 20px;
}

.toggle-click::before{
    left: -2px;
}



@media only screen and (max-width: 800px){
    nav {
        background: var(--sky-2);
    }
    nav .nav-items{
        flex-direction: column;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    nav .nav-items .nav-link:hover{
        text-decoration: underline;
    }
    nav{
        flex-direction: column !important;
        display: block !important;
    }

    nav .social {
        text-align: center;
    }

    nav .toggle-collapse{
        display: initial;
    }

}

/* ------------------ about-me ----------------- */

.home {
    height: 100vh;
    
}
.about-me {
    height: 100vh;
}
.portfolio {
    height: 100vh;
}
.testimonials {
    height: 100vh;
}
.contact {
    height: 100vh;
    background: var(--sky-footer);
}